body {
    background-color: palevioletred;
    background-image:url(~/assets/background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-size:cover;    
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}


html{ height: 100%; }
