<div  style="margin-top: 5%;">
    <div class="row" style="opacity: 0.6;">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="row">
                <div class="col-sm-12" style="">
                    <img class="displayed" src="assets/dmgartphotologo1.png" alt="DmG Art & Photo" title="DmG Art & Photo">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div> 

    <div class="row" style="margin-top: 2%;">
        <div class="col-md-3"></div>
        <div class="col">
            <div class="row">
                <div class="col-sm-6">
                    <a routerLink="/pictures">
                        <img width="300" class="displayed" src="assets/imagesimage.png" alt="Pictures" title="pictures">
                        <p class="infoarea">
                            Text
                        </p>
                    </a>
            </div>
                <div class="col-sm-6">
                    <a routerLink="/code">
                        <img width="300" class="displayed" src="assets/codeimage.png" alt="Code" title="code">
                        <p class="infoarea">
                            Text
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div> 
    </div> 