<div  style="margin-top: 5%;">
    <div class="row" style="opacity: 0.6;">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="row">
                <div class="col-sm-12" style="">
                    <img class="displayed" src="assets/logoimage.png" alt="YOUR LOGO TEXT" title="YOUR LOGO TEXT">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div> 

    <div class="row" style="margin-top: 2%;">
        <div class="col-md-3"></div>
        <div class="col">
            <div class="row">
                <div class="col-sm-6">
                    <a routerLink="/pictures">
                        <img width="300" class="displayed" src="assets/imagesimage.png" alt="Pictures" title="pictures">
                        <p class="infoarea">
                            YOUR PICTURES MENU TEXT
                        </p>
                    </a>
                </div>
            </div>
        <div class="col-md-3"></div>
    </div> 
</div> 