<div [style]="menuStyle" class="menu" (mouseover)="highLightMenu(true)" (mouseleave)="highLightMenu(false)" >
    <ul class="nav  justify-content-center">
        <li class="nav-item">
            <a class="nav-link link"  routerLink="/home">YOUR HOME MENU TEXT</a>
        </li>        
        <li class="nav-item" [style]="isActive('photo')">
          <a class="nav-link link" style="cursor: pointer;" (click)="show('photo')">YOUR PHOTO MENU TEXT</a>
        </li> 
        <li class="nav-item" [style]="isActive('art')">
          <a class="nav-link link" style="cursor: pointer;" (click)="show('art')">YOUR ART MENU TEXT</a>
        </li>
        <li class="nav-item" [style]="isActive('icon')">
            <a class="nav-link link" style="cursor: pointer;" (click)="show('icon')">YOUR ICON MENU TEXT</a>
        </li>
        <li class="nav-item" [style]="isActive('logo')">
            <a class="nav-link link"  style="cursor: pointer;" (click)="show('logo')">YOUR LOGO MENU TEXT</a>
        </li>
      </ul>
</div>

<div class="row" style="margin-top: 0%;">
    <div class="col-lg-3 infoarea">
        <h3 style="color:#550011">
            {{imageTextHeader}} by YOUR COMPANY
        </h3>
        <p>
            <b>{{imageText}}</b>
        </p>
        <p>
            YOUR TEXT
        </p>
        <p>
            YOUR TEXT
        </p>
        <p>
            YOUR TEXT
        </p>
        <ul>
            <li><a target="_blank" class="link" href="https://YOUREXTERNALLINK">YOUR LINK TEXT</a>
            <li><a target="_blank" class="link" href="https://YOUREXTERNALLINK">YOUR LINK TEXT</a>
        </ul>
    </div>
    <div class="col-lg-9">
        <ngb-carousel 
            *ngIf="images"  
            [showNavigationArrows]="true" 
            [showNavigationIndicators]="false">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img [src]="image" 
                        class="displayed" 
                        [alt]="stripImgPath(image)" 
                        [title]="stripImgPath(image)">
                </div>
                <div [style]="divStyle" 
                    class="carousel-caption" 
                    (mouseover)="highLightLogo(true)" 
                    (mouseleave)="highLightLogo(false)" >
                    <span style="opacity: 0.5">
                        <img style="background-color: pink;" [style]="imgStyle" src="assets/logoimage.png">
                    </span>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div> 