img {
    margin-top: 1%;
    border-radius: 10px 10px 10px 10px;
    max-width: 90%; 
    max-height: 90vh;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

body {
    background-color: gold;
}

.infoarea {
    padding: 40px;
    color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.link {
    color: #550011;
}

.menu {
    background-color: honeydew;
}